vs
.vs
.vscode
build
node_modules
crash.log
coverage
coverage-report
tmpdata
data/dnn
.idea/
dist
.DS_Store
native-node-utils
*/**.js.map
examples/typed/*.js
examples/typed/faceDetect/*.js
examples/typed/dnn/*.js
examples/*.js.map
examples/*.js
data/ocr/lcletters.xml
data/ocr/confusionmatrix.csv
examples/faceDetect/*.js
examples/dnn/*.js
examples/**/*.d.ts
install/*.d.ts
lib/**/*.d.ts
data/text-models/frozen_east_text_detection.pb
data/face/lbfmodel.yaml
bin/win32-x64-82/opencv4nodejs.node
test/**/*.js
examples/**/*.js
examples/src/ObjectDetection-YOLO/bird_yolo_out.jpg
examples/src/yolov3.weights
examples/src/ObjectDetection-YOLO/yolo_out_py.avi
examples/src/AgeGender/age-gender-out-sample1.jpg
examples/src/AgeGender/gender_net.caffemodel
examples/src/AgeGender/opencv_face_detector_uint8.pb
examples/src/AgeGender/age_net.caffemodel
.pnpm-debug.log
examples/data/dnn/yolo-object-detection/
lib/src/*.map
