vs
.vs
.vscode
build
bin
node_modules
crash.log
coverage
coverage-report
tmpdata
data/dnn
.idea/
dist
.DS_Store
native-node-utils
install/*.js
install/*.js.map
lib/*.js
lib/*.js.map
lib/src/*.js
lib/src/*.js.map
examples/typed/*.js
examples/typed/*.js.map
examples/typed/faceDetect/*.js
examples/typed/faceDetect/*.js.map
examples/typed/dnn/*.js
examples/typed/dnn/*.js.map
examples/*.js.map
examples/*.js
data/ocr/lcletters.xml
data/ocr/confusionmatrix.csv
examples/faceDetect/*.js.map
examples/faceDetect/*.js
examples/dnn/*.js
examples/dnn/*.js.map
examples/**/*.d.ts
install/*.d.ts
lib/**/*.d.ts
