vs
.vs
.vscode
build
bin
node_modules
crash.log
coverage
coverage-report
tmpdata
data/dnn
.idea/
dist
.DS_Store
native-node-utils
install/*.js
install/*.js.map
lib/*.js
lib/*.js.map
lib/src/*.js
lib/src/*.js.map
