language: node_js

sudo: required

services:
  - docker

node_js:
  # node version does not matter here, since we run builds with docker
  - '6'
  - '7'
  - '8'
  - '9'
  - '10'
  - 'node'

env:
  global:
    - OPENCV4NODEJS_DISABLE_AUTOBUILD=1
  matrix:
  - BUILD_TASK=test
    TAG=3.0.0-contrib-node6
  - BUILD_TASK=test
    TAG=3.1.0-contrib-node6
  - BUILD_TASK=test
    TAG=3.2.0-contrib-node6
  - BUILD_TASK=test
    TAG=3.3.0-contrib-node6
  - BUILD_TASK=cover
    TAG=3.4.0-contrib-node6
  - BUILD_TASK=test
    TAG=3.4.0-contrib-world-node6
  - BUILD_TASK=test
    TAG=3.4.6-node6
  - BUILD_TASK=test
    TAG=3.4.6-contrib-node6
  - BUILD_TASK=test
    TAG=3.4.6-contrib-node8
  - BUILD_TASK=test
    TAG=3.4.6-contrib-node10
  - BUILD_TASK=test
    TAG=3.4.6-contrib-node11
  - BUILD_TASK=prebuild
    TAG=3.4.6-contrib-node6
  - BUILD_TASK=prebuild
    TAG=3.4.6-contrib-node8
  - BUILD_TASK=prebuild
    TAG=3.4.6-contrib-node10
  - BUILD_TASK=prebuild
    TAG=3.4.6-contrib-node11
  - BUILD_TASK=cover
    TAG=3.4.6-contrib-node10

matrix:
  include:
    - os: osx
      node_js: '6'
      env:
        - BUILD_TASK=test
    - os: osx
      node_js: '6'
      env:
        - BUILD_TASK=prebuild
    - os: osx
      node_js: '8'
      env:
        - BUILD_TASK=test
    - os: osx
      node_js: '8'
      env:
        - BUILD_TASK=prebuild
    - os: osx
      node_js: '10'
      env:
        - BUILD_TASK=test
    - os: osx
      node_js: '10'
      env:
        - BUILD_TASK=prebuild
    - os: osx
      node_js: '11'
      env:
        - BUILD_TASK=test
    - os: osx
      node_js: '11'
      env:
        - BUILD_TASK=prebuild

before_install:
  - chmod +x ./ci/$BUILD_TASK/$BUILD_TASK.sh;

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then travis_wait 30 docker pull justadudewhohacks/opencv4nodejs-ci:$TAG; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install opencv@3; brew link --force opencv@3; fi

script:
  - if [[ $BUILD_TASK != "prebuild" ]]; then
    cd ./ci/$BUILD_TASK;
    npm run $BUILD_TASK $TAG;
    fi
  - if [[ $BUILD_TASK == "prebuild" && $TRAVIS_TAG != "" ]]; then
    cd ./ci/$BUILD_TASK;
    npm run $BUILD_TASK $TAG;
    fi

after_success:
  - if [ $BUILD_TASK = 'cover' ]; then
    npm install;
    npm run codecov -- -t $CODECOV_TOKEN;
    fi
