<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>opencv-nodejs</title>
  <link href="{{ site.baseurl }}/assets/highlighting.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/materialize.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/materialize.min.js"></script>
  {% seo %}
</head>