{
  "extends": ["eslint:recommended", "airbnb"],
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "comma-dangle": ["error", {"functions": "never"}],
    "func-names": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "radix": 0
  },
  "env": {
    "es6": true,
    "node": true
  }
}
