ul:not(.side-nav) {
  padding-left: 40px !important;
}

ul > li {
  list-style-type: initial !important;
}

nav * li {
  list-style-type: none !important;
}

img {
  max-width: 100%;
}

a {
  color: #ee6e73;
}

.navbar {
  position: fixed;
  top: 0;
}

.side-nav {
  position: absolute;
}

.below-navbar {
  margin-top: 64px;
}