name: Publish image to DockerHub

on:
  push:
    branches: [ "master" ]
    paths:
      - "cc/**"
      - "install/**"
      - "lib/**"
      - "typings/**"
      - "package.json"
      - ".github/workflows/dockerhub.yml"

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Available platforms
      run: echo ${{ steps.buildx.outputs.platforms }}
    -
      name: Build the Docker image
      run: docker buildx build -f Dockerfile-debian --platform linux/amd64,linux/arm64 -t urielch/opencv-nodejs:latest -t urielch/opencv-nodejs:$(date +%Y-%m-%d_%H%M%S) --push .

